.faq_container {
    max-width: 748px;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    padding-top: 116px;
}

.faq_heading h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    color: #4B5373;
}

.faq_wrapper {
    width: 100%;
    max-width: 748px;
    margin: 0 auto;
    margin-top: 36px;

}

.faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    cursor: pointer;

}

.faq_header h3 {
    margin-bottom: 0 !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    color: #4B5373 !important;
}

.faq_header button {
    background-color: transparent;
    color: #4B5373;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0px;
    transition: all 0.5s ease;
    border: none;
}

.b_active {
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.card {
    border: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    margin-bottom: 19px !important;
    background: #F2F2F2 !important;
    border: 1px solid #EEEEEE !important;
    border-radius: 3px !important;
    padding: 21px 24px;

}

.card-header {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.card-body {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    border: none !important;
    color: #4B5373 !important;
    margin-left: 0px;
    padding: 0 !important;
    padding-right: 23px !important;
    padding-top: 26px !important;
    margin-bottom: 0px !important;
    /* background-color: transparent !important; */
}

.faq_container .theme_heading {
    margin-bottom: 40px !important;
}

.faq_button {
    text-align: center;
    padding-top: 23px;
}

@media screen and (max-width: 768px) {
    .faq_container {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 20px;
        padding-top: 74px;

    }

    .faq_heading h1 {
        font-size: 24px;
        line-height: 37px;
        margin-bottom: 22px;
        text-align: center;
    }

    .card-body {
        padding-right: 30px !important;
    }

    .faq_wrapper {
        margin-top: 60px;

    }

    .faq_header h3 {
        font-size: 18px !important;
        line-height: 22px !important;
    }

    .faq_container .theme_heading {
        margin-bottom: 30px !important;
    }

    .faq_button {
        display: none;
        padding-top: 0px;
    }
}