
.second_navbar_container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}



@media screen and (max-width: 768px) {
    .second_navbar_container{
        display: none;
    }
}