.second_navbar_container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}

.navbar_menu_items span {
    margin-right: 36px !important;
}

.sidebar-menu-button {
    background: transparent;
    border: none;
}

.MuiButtonBase-root .sidebar-menu-button svg {
    width: 20px;
}

@media screen and (max-width: 768px) {
    .second_navbar_container {
        display: none;
    }
}