.pd_about_container {
    width: 100%;
    max-width: 797px;
}

.pd_about_content h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4B5373;
    border-bottom: 1px solid #E1E3ED;
    padding-bottom: 17px;
}

.pd_about_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4B5373;
    padding-top: 17px;
}

.sub_about_heading h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4B5373;
    border-bottom: 1px solid #E1E3ED;
    padding-bottom: 17px;
}

.pd_about_sub_cnt {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
}

.pd_about_sub_cnt div:last-child {
    margin-left: 90px;
}

.pd_about_sub_cnt div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pd_about_sub_cnt span:first-child {
    padding-right: 11px;
}

.pd_about_sub_cnt span {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.about_pd_button button {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #6C6C6C;
    background: #FFFFFF;
    border: 1px solid #E1E3ED;
    border-radius: 42px;
    padding: 5px 22px;
    margin-top: 37px;
}

.tour_heading {
    padding-top: 45px;
}

.tour_heading h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4B5373;
    border-bottom: 1px solid #E1E3ED;
    padding-bottom: 17px;
}

.pd_video {
    width: 100%;
    max-width: 797px;
    padding-top: 25px;
}

.pd_video video {
    width: 100%;
    border-radius: 6px;

}

.flex_wrap {
    width: 50%;
    padding: 7px 0px;
}

.pd_about_sub {
    display: flex;
    flex-wrap: wrap;
}

.details_page_video {
    display: flex;
    flex-wrap: wrap;
}

.details_page_video button.Button_button-accent-text-hover__CzS4b {
    background: transparent;
    border-width: 0;
    --text-opacity: 1;
    color: #376559;
    color: rgba(55, 101, 89, var(--text-opacity));
    text-transform: uppercase;
    letter-spacing: .113rem;
    font-weight: 600;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}

.details_page_video button.button1 {
    left: 160px;
    position: relative;
}

.details_page_video button.button2 {
    left: 170px;
    position: relative;
}

.mymodal_2.iframe_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px transparent;
    background: #fff;
    border-radius: 0px;
    outline: none;
    padding: 0 0px;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .ReactModal__Body--open {
    overflow: hidden;
} */

.mymodal_2.iframe_modal .h-navbar {
    background: #281e41;
    height: 12%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mymodal_2.iframe_modal .cross_image {
    left: 35px;
    top: 20px;
    background-color: transparent;
}

.mymodal_2.iframe_modal .stroke-2 {
    height: 30px;
    width: 50px;
    stroke: currentColor;
    position: relative;
    z-index: 9999;
}

/* modal css */
.modal_column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.modal_row {
    background: rebeccapurple !important;
}

.modal_row:after {
    content: "";
    display: table;
    clear: both;
}

.modal_column.column1 {
    padding: 20px;
}

.modal_column.column2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.modal_column.column3 {
    display: flex;
    flex-wrap: wrap;
}

.details_page_video .iframe_modal {
    padding-right: 20px;
}

.details_page_video .video {
    padding-left: 20px;
}

.pd_video video {
    width: 100%;
    border-radius: 0;
}

.details_page_video .iframe_modal,
.details_page_video .video {
    width: 49%;

}


@media screen and (max-width: 768px) {

    .pd_about_container {
        width: 100%;
        max-width: none;
    }

    .pd_about_sub_cnt {
        padding-top: 0px;
        display: block;
    }

    .pd_about_sub_cnt div:last-child {
        margin-left: 0px;
    }

    .pd_about_sub_cnt div {
        margin-top: 20px;
    }

    .about_pd_button button {
        margin-top: 30px;
    }

    .tour_heading {
        padding-top: 45px;
    }

    .pd_video {
        width: 100%;
        max-width: none;
        padding-top: 20px;
    }

}