.move_container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 84px;
}

.move_heading {
    padding-bottom: 76px;
}

.move_heading h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #4B5373;
    margin-top: 13px;
}

.move_heading h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4B5373;
}

.move_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.move_sub_content div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 21px;

}

.move_sub_content h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: var(--theme-color);
    margin-left: 18.2px;
    margin-bottom: 0;
}

.move_sub_content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #4B5373;
    max-width: 385px;
}

@media screen and (max-width: 1270px) {
    .move_sub_content {
        padding-left: 30px;
    }

    .move_sub_content:first-child {
        padding-left: 0px;
    }

    /* .move_sub_content p {
        max-width: none;

    } */
}

@media screen and (max-width: 918px) {

    .move_heading {
        padding-bottom: 60px;
    }

    .move_sub_content h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: var(--theme-color);
        margin-left: 18.2px;
        margin-bottom: 0;
    }

    .move_sub_content p {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #4B5373;
        max-width: none;
    }
}



@media screen and (max-width: 768px) {
    .move_container {
        padding-top: 32px;
    }

    .move_heading {
        padding-bottom: 46px;
    }

    .move_heading h1 {
        font-size: 25px;
        line-height: 37px;
        text-align: left;
    }

    .move_content {
        display: block;
    }

    .move_sub_content {
        padding-left: 0px;
    }

    .move_sub_content p {
        max-width: none;
    }
}